<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerLinks}}
    {{!-- <link rel="stylesheet" href="css/style.css"> --}}
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <!-- Header Part Import Here -->
    {{>header}}

    <h2>Template Views Engine : Dynamic content with express</h2>

    {{>footer}}
</body>
</html>